
body {

    background: linear-gradient(#9a08dd 0%, #dd4c4f 40%, #7420d367 100%)
}


.profile {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;

}


.profileimage {

    width: 250px;
    padding-top: 55px;
    
}

.profile h2 {

    color: whitesmoke;
}

.profile h4 {

    color: whitesmoke;
}

.biodata {
    background: linear-gradient(#ffffff 0%, rgba(255, 254, 254, 0.705) 40%, #0050fc00 100%)
    padding-bottom: 200px;
    padding-top: 55px;
}

.row {
    padding: 0px 20px;

}


.footer {

    background-color: #ffffff;
    padding-bottom: 20px;
}

.contact a {
    color: black;
    font-size: 60px;
    

}

.workex {
    padding-top: 55px;
    padding-bottom: 200px;

}

